*{
    margin: 0px;
    padding: 0px;
}
.banner-container{
     height: 120vh; 
 
    display: flex;
     justify-content: space-around;
    background-color:rgba(229, 84, 115, 0.1) ;
    background-position: center;
    background-size: cover; 
  
    
}
.banner-info{
    display: flex;
    align-items: center; 
    justify-content: space-around;
  
  margin-top: 80px;

}
.right-side-banner{  
margin-right: 20px;
width: 635px;
height: 800px;
flex-shrink: 0;

}
.btn{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
margin-top: 15px;
}
.primary{
   margin-top: 10px;
}
.deal-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
   color: black;
   margin-top: 70px;
}
.sign-up{
    text-align: center;
    margin-right: 100px;
}
.image-section{
    width: 318px;
height: 420px;
flex-shrink: 0;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 250px;
}
.instra{
    display: flex;
    justify-content: space-around;
}
.middle{
     text-align:center;
     margin-top: 100px;
     padding: 30px;
}
.image-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    gap: 10px;

}
/* .one{
    gap: 50px;
    margin-right: 10px;
    align-items: center;
} */
/* .one-image{
 margin-left: 20px;
} */

.info-part{
    display: flex;
    justify-content: center;
    height: 60vh;
    gap: 50px;
    background-image: url(Rectangle\ 9.png);

}
.information{
    margin-top: 100px;
}
.input-info{
    padding: 10px ;

}
